/** 
	NEEDS FIXING:
		Success quote overflows and hover ?
		Blue dates ?
		Comver-responsive stuff ?
		Mobile-first
**/

/***********************************/
/******** Global variables *********/
/***********************************/

$w-screen-large: 500px;

/**********************************/
/* Backgrounds, Colors, Opacities */
/**********************************/


$u-bg-main: '../img/slide-bg-complexity.jpg';
$u-bg-calendar: '../img/news-and-events-bg.jpg';
$u-bg-footer: '../img/iron-metal-background.png';

$c-bg-wedo-side-blue: rgb(49, 139, 173);
$c-bg-wedo-middle-blue: rgb(86, 183, 214);
$c-bg-success-gray: #E0E0E0;

$c-bg-topicrect-pink: #FE3094;
$c-bg-topicrect-green: #6DBB44;
$c-bg-topicrect-orange: #FC6001;

$c-bg-buttonlink-bottom: #1188C4; /* blue */
$c-bg-buttonlink-middle: #1D8EC6; /* blue */
$c-bg-buttonlink-top: #2B94C9; /* blue */


$c-button-bright: #E5E5E5;	/* almost white */

$c-mobilebutton-gray-bottom: #E0E0E0;
$c-mobilebutton-gray-top: lighten($c-mobilebutton-gray-bottom, 5%);

$o-topicrect: 0.9;

$o-calendarcontent: 0.5;
$o-calendarcontent-hover: 0.7;

$c-font-gray: rgb(86, 86, 86);
$c-font-blue: #4DA6D2;

$c-hr-gray: #646464;


#section-main {
	background: url($u-bg-main) center center fixed;
	background-size: cover;
}
#section-we-do {
	background: linear-gradient(90deg, $c-bg-wedo-side-blue,  $c-bg-wedo-middle-blue, $c-bg-wedo-side-blue);
}
#section-calendar {
	background: url($u-bg-calendar) center center fixed;
	background-size: cover;
}
#section-success {
	background-color: $c-bg-success-gray;
}


nav a {
	color: black;
}

@media(min-width: $w-screen-large) {
	.topic-rect {
		opacity: $o-topicrect;
	}
	.topic-rect:hover {
		opacity: 1;
	}	
}
.topic-rect:nth-child(1) {
	background-color: $c-bg-topicrect-pink;
}
.topic-rect:nth-child(2) {
	background-color: $c-bg-topicrect-green;
}
.topic-rect:nth-child(3) {
	background-color: $c-bg-topicrect-orange;
}

.button-link,
#blog form button {
	background: linear-gradient(to top, $c-bg-buttonlink-bottom, $c-bg-buttonlink-middle, $c-bg-buttonlink-top);
}

.calendar-content {
	background-color: rgba(255, 255, 255, $o-calendarcontent);
}
.calendar-content:hover {
	background-color: rgba(255, 255, 255, $o-calendarcontent-hover);
}

.success-box-content {
	background-color: white;
}


footer {
	background: url($u-bg-footer);
}

#blog form button {
	color: white;
}


body {
	background-color: pink; /* unimportant */
}

body,
#section-success > .section-content > h2 {
	color: $c-font-gray;
}


#section-success > h2 {
	color: $c-font-gray;
}


[id^="section"] h2, [id^="section"] h3, [id^="section"] a {
	color: white;
}

header {
	background-color: white;
}

header > .section-content > button {
	background: linear-gradient(to top, $c-mobilebutton-gray-bottom, $c-mobilebutton-gray-top);
}

.carousel-nav {
	background-color: $c-button-bright;
}
.carousel-nav.selected {
	background-color: $c-bg-buttonlink-bottom;
}

.calendar-column > h3 {
	color: white;
}
.calendar-column > a {
	color: white;
}
.calendar-column > a:hover {
	color: black;
}


.success-bottom p:first-child {
	color: $c-font-blue;
}

#footer-links {
	color: white;

	small, small a {
		color: gray;
	}
}


#blog h3 {
	color: $c-font-blue;
}

.blog-post {
	color: white;
}

#blog hr {
	border-color: $c-hr-gray;
	border-style: solid;
}




.u-grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}














/************************/
/******** Layout ********/
/************************/

/* General */


$w-content-large: 700px;

.u-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.u-clearfix:after {
   content: " "; 	/* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.section-content {
	margin: 0 auto;
	width: 100%;
	
}

@media(min-width: $w-content-large) {
	.section-content {
		width: 50%;
		min-width: $w-content-large;
	}
}

@media(max-width: $w-screen-large) {
	.screen-large {
		display: none !important;	
	}
}
@media(min-width: $w-screen-large) {
	.screen-small {
		display: none !important;
	}
}


.button-link {
	display: block;
	max-width: 12em;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px 7px;
	position: relative;
	border-radius: 5px;
}


.button-link:after {
  content: "\25BA";
  display: inline-block;
  position: absolute;
  right: 10px;
}

body, header, section, footer {
	margin: 0;
}


[id^="section"] {
	padding: 20px;
}

.text-box {
	overflow: scroll-y;
	text-overflow: ellipsis;
}

.date {
	float: left;
	padding: 0.3em;
}
.date > span {
	text-align: center;
	display: block;
}
.date > span:first-child {
	font-size: 3em;
	margin: -0.2em 0.2em;
	font-weight: bold;
}




/* Header */

$u-divider: '../img/divider.png';
$u-search-img: '../img/searchBtn.png';

$u-hamburger-img: '../img/hamburger-icon.png';
$u-search-img-mobile: '../img/searchBtnMobile.png';

$w-header-img: 20%;
$w-header-nav: 60%;
$w-header-dobox: 18%;

header {
	padding-bottom: 1rem;

	@media(min-width: $w-screen-large) {
		padding-bottom: .5rem;
	}
}

header .section-content > div, nav {
	display: inline-block;
}

header > div > button {
	width: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-size: 100% 100%;
	height: 3rem;
	width: 3rem;
	border: 1.5px solid $c-mobilebutton-gray-bottom;
	display: inline-block;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
	border-radius: 15%;
	
	&:first-child {
		float: left;	
		margin-left: .5rem;
		&:after {
			content: url($u-hamburger-img);
		}
	}
	&:last-child {
		float: right;
		margin-right: .5rem;
		&:after {
			content: url($u-search-img-mobile);
		}
	}
	&:focus {
		border: 1.5px solid $c-mobilebutton-gray-bottom;
		outline: none;	
	}
}

header > .section-content {
	text-align: center; /* to center the image */
}
header img {
	width: 150px;
	padding: .5rem 0;
	display: inline;
}
@media(min-width: $w-screen-large) {
	header img {
		display: inline-block;
		width: $w-header-img;
		margin: 0;
	}
	header nav {
		width: $w-header-nav;
	}
	#do-box {
		width: $w-header-dobox;
	}
}


nav ul, nav ul, nav a {
	box-sizing: border-box;
}

nav > ul {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 10px;
}

nav > ul > li {
	float: left;
	list-style: none;
}
nav > ul > li {
	background: url($u-divider);
    background-position: right;
    background-repeat: no-repeat;
    padding: 0 10px;
}
nav > ul > li:last-child {
	background: none;
}

#do-box input {
	width: 80%;
	box-sizing: border-box;
	margin-top: 1rem;
	border: 1px solid #D0D0D0; /* gray */
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
	height: 1.1rem;
	padding: .1rem .5rem;
}


#do-box a {
	color: black;
	text-decoration: none;
	padding-left: .5rem;
	float: left;
}

#login-link {
	width: 50%;
	margin-top: .5rem;
	background: url($u-divider) no-repeat;
}

#search-link {
	background: url($u-search-img) no-repeat center center;
	width: 20%;
	box-sizing: border-box;
	border: 1px solid #D0D0D0; /* gray*/
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: block;
	padding: .1rem .5rem;
	margin-top: 1rem;
	height: 1.1rem;

}

#do-box select,
#do-box option {
	width: 2.5rem;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
}
#do-box select {
	margin-top: .5rem;
}


/* section-main */

.topic-rect {
	box-sizing: border-box;
	width: 100%;
	padding: .5rem 2%;
	margin-bottom: 1rem;
}

@media(min-width: $w-screen-large) {
	.topic-rect {
		width: 30%;
		float: left;
		border-radius: 5px;	

		&:nth-child(2) {
			margin-left: 5%;
			margin-right: 5%;
		}
	}
}


.topic-rect > .text-box {
	text-overflow: none;

	@media(min-width: $w-screen-large) {
		height: 9rem;
	}
	@media(min-width: 550px) {
		height: 7rem;
	}
	@media(min-width: 650px) {
		height: 5rem;
	}
}



.topic-rect > a {
	display: inline-block;
	font-size: 0.75rem;
	font-weight: bold;
	margin-bottom: 10px;
}


.topic-rect img {
	padding-right: .7rem;
	height: 1.7rem;
	background-repeat: no-repeat;
	float: left;	
}



.carousel-nav {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 25%;
	border: none;
}

.carousel-nav-box {
	margin-bottom: 30px;
}

.carousel-window-desc {
	width: 50%;
}

.carousel-window-desc > h3 {
	margin: 0;
}


/* section-we-do */


#section-we-do .button-link {
	margin: 30px auto 20px auto;
}

.icon-holder {
	float: left;
	width: 16%;
}

.icon-holder > img {
	width: 100%;
	margin-bottom: 1rem;

	&.inside {
		display: none;
	}
	&.outside {
		display: block;
	}
}
.icon-holder:hover > img {
	&.inside {
		display: block;
	}
	&.outside {
		display: none;
	}
}

.icon-holder > .image-label {
	color: white;
	text-align: center;
}


/* section-calendar */

#section-calendar {
	padding-bottom: 5rem;
}

.calendar-column {
	float: left;
	width: 33%;
	box-sizing: border-box;
	padding: 0 1rem;
}

.calendar-content {
	padding: .5rem;
	margin-bottom: .5rem;
}

#section-calendar h2 {
	margin-bottom: 0;
}

#section-calendar h3 {
	margin-top: 3rem;
	margin-bottom: .5rem;
}

#section-calendar .calendar-content > img {
	width: 25%;
	float: left;
}

#section-calendar .calendar-content > p {
	width: 75%;
	box-sizing: border-box;
	padding: 0 .5rem;
	margin: 0;
	float: left;
}

.calendar-column:last-child h3 {
	color: transparent;
}

.calendar-content img {
	border-radius: 3px;
	box-shadow: 0 2px 12px gray;
}

.calendar-column a:before {
	display: inline;
	margin: .7rem;
}

a.events-link:before {
	content: url('../img/eventListIconEvents.png');
}
a.events-link:hover:before {
	content: url('../img/eventListIconEvents_hover.png');
}

a.news-link:before {
	content: url('../img/eventListIconNews.png');
}
a.news-link:hover:before {
	content: url('../img/eventListIconNews_hover.png');	
}


/* section-success */

.u-flip-x {
	transform: scaleX(-1);
}

#section-success .button-link {
	margin: 0 auto;
}

.success-column {
	width: 37.5%;
	float: left;
}
#success-column-3 {
	width: 25%;
}
#success-column-3 .success-icon {
	width: 50%;
}

.success-icon {
	float: left;
	width: 33.3%;
	box-sizing: border-box;
}

.success-icon img {
	width: 100%;
}

.success-box {
	padding: 0.2rem;
}

.success-quote .success-box-content {
	padding: .5rem;
}

.success-top {
	height: 5rem;
	text-overflow: ellipsis;
	overflow: hidden;
}

.success-top img {
	width: 40%;
	box-sizing: border-box;
	padding-right: .5rem;
}

.success-top q {
	width: 60%;
	float: right;
}
#success-column-3 .success-top q {
	width: 100%;
}

.success-top q:before {
	content: url('../img/quote-grey.png');
	margin-right: .3rem;
}

.success-bottom img {
	width: 20%;
	float: right;
}
#success-column-3 .success-bottom img {
	width: 30%;
}

.quote-source {
	width: 80%;
	float: left;
}
#success-column-3 .quote-source {
	width: 70%;
}

.success-bottom p {
	margin: 0;
}

.success-box hr {
	border-style: solid;
	border-color: #E2E2E2; /* gray */
	border-bottom: none;
}

#section-success .button-link {
	margin-top: 1.5rem;
}

/* footer */

footer {
	padding-top: 0;
}


#footer-links {
	width: 70%;
	float: left;
}

.links-column {
	width: 33%;
	box-sizing: border-box;
	padding: 0 1rem;
	float: left;
}

.links-column h3, #blog h3 {
	margin-top: 2rem;
}

.links-column li {
	list-style: none;
	margin-top: .3rem;
}

.links-column ul {
	padding: 0;
}


#blog {
	width: 30%;
	float: left;
	background-color: rgba(256, 256, 256, 0.15);
	height: 100%;
}


#footer-links {
	position: relative;
}
#footer-links small {
	position: absolute;
	bottom: 1rem;
}

#footer-links > div {
	margin-bottom: 3rem;
}

#blog hr,
#blog form,
.icon-group {
	margin: 0.7rem;
}

#blog form {
	margin-bottom: 2rem;
}

.blog-post {
	padding-right: .5rem;
}

#blog form input,
#blog form button {
	float: left;
	margin: 0;
	border: none;
}

#blog form input{
	width: 70%;
	padding: 0;
	line-height: 1.5rem;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#blog form button {
	width: 30%;
	box-sizing: border-box;
	height: 1.5rem;
	padding: 0.2rem;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}


















/*******************/
/****** Fonts ******/
/*******************/

html {
	font-size: 100%;
}


body {
	font-family: 'Open Sans', sans-serif;
}

h2, h3 {
	font-weight: normal;
}

h2 {
	font-size: 2rem;
}

.u-bold {
	font-weight: bold;
}

.button-link {
	font-size: 0.9rem;
}


nav, 
#section-main .button-link,
#section-we-do > .section-content > h2,
#section-calendar > .section-content > h2,
#section-success > .section-content > h2,
#section-calendar h3,
.links-column h3,
#blog h3,
#blog form button,
.success-bottom p:first-child {
	text-transform: uppercase;
}


#section-we-do > .section-content > h2,
#section-calendar > .section-content > h2,
#section-success > .section-content > h2 {
	text-align: center;
}

#section-calendar h3 {
	font-size: 1.5rem;
}

#section-calendar .calendar-content > p {
	font-size: 0.7rem;
	text-shadow: 0 0 0px black;
	color: black;
}

.success-bottom {
	font-size: 0.75rem;
}

nav li {
	font-size: 0.6rem;
}

#do-box,
#do-box select,
#do-box optgroup {
	font-size: .7rem;
}

.links-column li {
	font-size: 0.7rem;
}

.links-column h3 {
	font-size: 0.9rem;
}


#blog h3 {
	font-size: 0.95rem;
	font-weight: bold;
	text-align: center;
}

.blog-post {
	font-size: 0.8rem;
}

#blog form button {
	font-size: 0.6rem;
}

.calendar-column a {
	font-size: 0.8rem;
}













/*******************/
/***** Special *****/
/*******************/


body {
	scroll-behavior: smooth;
}


.carousel-nav {
	cursor: pointer;
}

.button-link,
nav a,
.topic-rect > a, 
#footer-links small a,
.calendar-column a {
	text-decoration: none;
}




