/** 
	NEEDS FIXING:
		do-box
		Rearrangement
		Going over all requirements
**/


/***********************************/
/******** Global variables *********/
/***********************************/

$w-screen-large: 500px;

/* Arrows */

$directions: top, bottom, left, right;

@function opposite($direction) {
  @if ($direction == left) { @return right; }
  @if ($direction == right) { @return left; }
  @if ($direction == top) { @return bottom; }
  @if ($direction == bottom) { @return top; }
}

%arrow {
  display: inline-block;
  width: 0; height: 0;
  transition: border 1s;
}

$c-arrow: black;
$w-arrow: 5px;

@each $direction in $directions {
  .arrow-#{$direction} {
     @extend %arrow;
     border: $w-arrow solid transparent;
     border-#{opposite($direction)}: $w-arrow solid $c-arrow;  
   }
}

@keyframes raise {
	0% { top: 0; }
	100% { top: -15rem; }
}

/**********************************/
/* Backgrounds, Colors, Opacities */
/**********************************/


$u-bg-main: '../img/slide-bg-complexity.jpg';
$u-bg-main-mobile: '../img/slide-bg-complexity-mobile-new1.jpg';
$u-bg-calendar: '../img/news-and-events-bg.jpg';
$u-bg-calendar-mobile: '../img/news-and-events-bg-mobile.jpg';
$u-bg-footer: '../img/iron-metal-background.png';
$u-bg-wedo-texture: '../img/weDoBG.png';
$u-bg-icon-success: '../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg';

$c-bg-wedo-side-blue: rgb(49, 139, 173);
$c-bg-wedo-middle-blue: rgb(86, 183, 214);
$c-bg-wedo-smallscreen-blue: #2896BF;

$c-bg-success-gray: #E0E0E0;

$c-bg-topicrect-pink: #FE3094;
$c-bg-topicrect-green: #6DBB44;
$c-bg-topicrect-orange: #FC6001;

$c-bg-buttonlink-bottom: #1188C4; /* blue */
$c-bg-buttonlink-middle: #1D8EC6; /* blue */
$c-bg-buttonlink-top: #2B94C9; /* blue */


$c-button-bright: #E5E5E5;	/* almost white */

$c-date-blue: #3399CC;

$c-mobilebutton-gray-bottom: #E0E0E0;
$c-mobilebutton-gray-top: lighten($c-mobilebutton-gray-bottom, 5%);

$o-topicrect: 0.9;

$o-calendarcontent: 0.5;
$o-calendarcontent-hover: 0.7;

$c-bg-success-box: $c-date-blue;

$c-font-gray: rgb(86, 86, 86);
$c-font-blue: #4DA6D2;

$c-hr-gray: #646464;


#section-main {
	#main-top {
		background: url($u-bg-main-mobile) bottom no-repeat;
		background-size: 100%;
		background-color: #0E217E; /* backup color */
	}

	@media(min-width: $w-screen-large) {
		background: url($u-bg-main) center center fixed;
		background-size: cover;	

		#main-top {
			background: none;
		}
	}
}
#section-we-do {
	background: url($u-bg-wedo-texture) $c-bg-wedo-smallscreen-blue;
	background-size: 15px 15px;

	@media(min-width: $w-screen-large) {
		background: linear-gradient(90deg, $c-bg-wedo-side-blue,  $c-bg-wedo-middle-blue, $c-bg-wedo-side-blue);	
	}
}
#section-calendar {
	background: url($u-bg-calendar-mobile);
	background-size: cover;	

	@media(min-width: $w-screen-large) {
		background: url($u-bg-calendar) center center fixed;
		background-size: cover;
	}
}
#section-success,
footer .screen-small {
	background-color: $c-bg-success-gray;
}

#section-success .success-icon .layer-bottom div {
	background-image: url($u-bg-icon-success);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: $c-bg-success-box;
}
#section-success .success-quote .layer-bottom div {
	background-color: $c-bg-success-box;
}



nav a {
	color: black;
}

#search-mobile a {
	background-color: white;
}


.carousel-window-desc {
	background-color: rgba($c-bg-buttonlink-middle, 0.8);


	@media(min-width: $w-screen-large) {
		background-color: transparent;
		opacity: 1;
	}
}


.carousel-nav > label {

	background-color: $c-button-bright;
	color: $c-font-gray;

	@media(min-width: $w-screen-large) {
		color: transparent;
	}
}

.carousel-nav > input[type="radio"]:checked + label,
.carousel-nav > label:hover {
	background-color: $c-bg-buttonlink-bottom;
	color: white;

	@media(min-width: $w-screen-large) {
		color: transparent;
	}
}


@media(min-width: $w-screen-large) {
	.topic-rect {
		opacity: $o-topicrect;
	}
	.topic-rect:hover {
		opacity: 1;
	}	
}
.topic-rect:nth-child(1) {
	background-color: $c-bg-topicrect-pink;
}
.topic-rect:nth-child(2) {
	background-color: $c-bg-topicrect-green;
}
.topic-rect:nth-child(3) {
	background-color: $c-bg-topicrect-orange;
}

.button-link,
#blog form button {
	background: linear-gradient(to top, $c-bg-buttonlink-bottom, $c-bg-buttonlink-middle, $c-bg-buttonlink-top);
}

.calendar-content {
	background-color: rgba(255, 255, 255, $o-calendarcontent);
}
.calendar-content:hover {
	background-color: rgba(255, 255, 255, $o-calendarcontent-hover);
}

.date-1 {
	background-color: $c-date-blue;
	color: white;
}

.success-box  {
	.layer-top > div {
		background-color: white;
	}
}


.footer-row {
	background: url($u-bg-footer);
}
@media(min-width: $w-screen-large) {
	footer {
		background: url($u-bg-footer);
	}	
}

#blog form button {
	color: white;
}


body {
	background-color: white; /* sometimes pink for debug */
}

body,
#section-success > .section-content > h2 {
	color: $c-font-gray;
}


#section-success > h2 {
	color: $c-font-gray;
}


[id^="section"] h2,
[id^="section"] h3,
[id^="section"] a {
	color: white;
}

header {
	background-color: white;
}

header > .section-content > button {
	background: linear-gradient(to top, $c-mobilebutton-gray-bottom, $c-mobilebutton-gray-top);
}


.calendar-column > h3 {
	color: white;
}
.calendar-column > a {
	color: white;
}
.calendar-column > a:hover {
	color: black;
}


.success-bottom p:first-child {
	color: $c-font-blue;
}
.success-quote .layer-bottom {
	color: white;
}

#footer-links {
	color: white;

	small, small a {
		color: gray;
	}
}


#blog h3 {
	color: $c-font-blue;
}

.blog-post {
	color: white;
}

#blog hr {
	border-color: $c-hr-gray;
	border-style: solid;
}

footer .screen-small small {
	background-color: white;
}

footer .wrapper-select {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0 .5rem;

	select {
		background: url('../img/btnArrowBottomWhite.png');
		background-position: right;
		background-repeat: no-repeat;
	}
}
footer .wrapper-select > select {
	color: white;

	option {
		color: black;
	}
}

.u-grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}














/************************/
/******** Layout ********/
/************************/

/* General */


$w-content-large: 700px;

$p-section-content: 20px;

.u-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.u-clearfix:after {
   content: " "; 	/* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.section-content {
	margin: 0 auto;
	width: 100%;

	@media(min-width: $w-content-large) {
		width: 50%;
		min-width: $w-content-large;
	}
}



@media(max-width: $w-screen-large - 1) {
	.screen-large {
		display: none !important;	
	}
}
@media(min-width: $w-screen-large) {
	.screen-small {
		display: none !important;
	}
}


.button-link {
	display: block;
	max-width: 12em;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px 7px;
	position: relative;
	border-radius: 5px;
}


.button-link:after {
  content: "\25BA";
  display: inline-block;
  position: absolute;
  right: 10px;
}

body, header, section, footer {
	margin: 0;
}


[id^="section"] {
	padding: $p-section-content;
}
#section-main {
	padding: 0;
}
@media(min-width: $w-screen-large) {
	[id^="section"] {
		padding: $p-section-content / 2;
	}
	#section-main {
		padding: 2*$p-section-content $p-section-content / 2;
	}
}

.text-box {
	overflow: scroll-y;
	text-overflow: ellipsis;
}

.invisolabel {
	font-size: 0;
	display: table-cell; /* so that it doesnt effect other elements */
	margin: 0;
	padding: 0;
	visibility: hidden;
}




/* Header */

$u-divider: '../img/divider.png';
$u-search-img: '../img/searchBtn.png';

$u-hamburger-img: '../img/hamburger-icon.png';
$u-search-img-mobile: '../img/searchBtnMobile.png';

$w-header-img: 20%;
$w-header-nav: 60%;
$w-header-dobox: 18%;

$h-header-mobile: 4.5rem;
$p-bottom-header-mobile: .7rem;

header {
	padding-bottom: $p-bottom-header-mobile;
	height: $h-header-mobile;

	@media(min-width: $w-screen-large) {
		padding-bottom: .2rem;
		height: auto;
	}
}

header .section-content > div, nav {
	display: inline-block;
}

/* mobile buttons */
header > div > a {
	
	button {
		width: 20px;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-size: 100% 100%;
		height: 3rem;
		width: 3rem;
		border: 1.5px solid $c-mobilebutton-gray-bottom;
		display: inline-block;
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 2rem;
		border-radius: 15%;	
		outline: none;
	}
	
	&:first-child button {
		float: left;	
		margin-left: .5rem;
		&:after {
			content: url($u-hamburger-img);
		}
	}
	&:last-child button {
		float: right;
		margin-right: .5rem;
		&:after {
			content: url($u-search-img-mobile);
		}
	}
	&:focus button {
		border: 1.5px solid $c-mobilebutton-gray-bottom;
		outline: none;	
	}
}

header > .section-content {
	text-align: center; /* to center the image */
}
header img {
	width: 130px;
	padding: .5rem 0;
	display: inline;
}
@media(min-width: $w-screen-large) {
	header img {
		display: inline-block;
		width: $w-header-img;
		margin: 0;
	}
	header nav {
		width: $w-header-nav;
	}
	#do-box {
		width: $w-header-dobox;
	}
}



div.float-under-header {
	position: absolute;
	z-index: 1;
	padding-top: $h-header-mobile + $p-bottom-header-mobile;
	width: 100%;
	top: 0; left: 0;

	@media(min-width: $w-screen-large) {
		position: static;
		width: auto;
		padding: 0;
	}
}

nav {
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s;
	position: absolute;
	top: 0; left: 0;

	&:target {
		opacity: 1;
		visibility: visible;
	}

	ul {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	li {
		border-top: 1px solid gray;
		list-style: none;
		padding: 10px 10px;
		background-color: white;
		box-shadow: 2px 2px 6px black;
	}
}

@media(min-width: $w-screen-large) {
	
	/* style the nav */
	nav {
		opacity: 1;
		position: static;
		display: inline-block;
		width: auto;
		visibility: visible;

		ul, a {
			box-sizing: border-box;
		}
		ul {
			padding-left: 10px;
		}
		li {
			float: left;
			background: url($u-divider);
		    background-position: left;
		    background-repeat: no-repeat;
		    padding: 0 10px;
		    text-align: center;
		    border-top: 0;
		    width: auto;	
		    box-shadow: none;
		}
		a:first-child li {
			background: none;
		}
	}
}

#search-mobile {
	width: 100%;
	height: 2rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s;

	&:target {
		opacity: 1;
		visibility: visible;
	}
}

#search-mobile input {
	float: left;
	height: 2rem;
	line-height: 2rem;
	box-sizing: border-box;
	width: 90%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid $c-font-gray;
	border-right: 0;
	margin-top: 4px;
	padding-right: .3rem;
	padding-left: .3rem;
	outline: none;
}
#search-mobile a {
	display: block;
	float: left;
	height: 2rem;
	line-height: 2rem;
	box-sizing: border-box;
	width: 10%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid $c-font-gray;
	border-left: 0;
	margin-top: 4px;
}

#do-box input {
	width: 80%;
	box-sizing: border-box;
	margin-top: 1rem;
	border: 1px solid #D0D0D0; /* gray */
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
	height: 1.1rem;
	padding: .1rem .5rem;
}


#do-box a {
	color: black;
	text-decoration: none;
	padding-left: .5rem;
	float: left;
}

#login-link {
	width: 50%;
	margin-top: .5rem;
	background: url($u-divider) no-repeat;
}

#search-link {
	background: url($u-search-img) no-repeat center center;
	width: 20%;
	box-sizing: border-box;
	border: 1px solid #D0D0D0; /* gray*/
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: block;
	padding: .1rem .5rem;
	margin-top: 1rem;
	height: 1.1rem;

}

#do-box select,
#do-box option {
	width: 2.5rem;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
}
#do-box select {
	margin-top: .5rem;
	background: url('../img/btnArrowBottomBlack.png');
	background-position: right;
	background-repeat: no-repeat;
}

/* section-main */

$w-button-carousel: 40px;


#section-main h2 {
	margin-top: 0;
}

#main-top {
	padding-bottom: .1 * $p-section-content;
}

@media(min-width: $w-screen-large) {
	.carousel-window-desc {
		width: 50%;
		margin-bottom: 0;
	}	
}
.carousel-window-desc {
	padding: 1.5rem;

	h3 {
		margin: 0;
	}

	@media(min-width: $w-screen-large) {
		padding: 0;
	}
}


.topic-rect {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: .5rem 2%;
	margin-bottom: 10px;
	margin-top: 10px;

	@media(min-width: $w-screen-large) {
		width: 30%;
		float: left;
		border-radius: 5px;	

		&:nth-child(2) {
			margin-left: 5%;
			margin-right: 5%;
		}
	}
}


.topic-rect > .text-box {
	text-overflow: none;
	width: 80%;

	@media(min-width: $w-screen-large) {
		width: 100%;
		height: 9rem;
	}
	@media(min-width: 550px) {
		height: 7rem;
	}
	@media(min-width: 650px) {
		height: 5.5rem;
	}
}

i.promotion-arrow:after {
	content: url('../img/promotion-item-arrow.png');
	position: absolute;
	right: 10px;
	top: 50%;
}

.topic-rect > a {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 10px;
}

.topic-rect i.fa {
    font-size: 1.6rem;
    margin-right: .5rem;	
    vertical-align: middle;
}



.carousel-nav {
	margin-bottom: 2rem;;

	input[type="radio"] {
		visibility: hidden;
		width: 0;
		margin: 0;
	}

	label {
		display: inline-block;
		height: $w-button-carousel;
		width: $w-button-carousel;
		border-radius: 4px;
		border: none;

		@media(min-width: $w-screen-large) {
			height: 15px;
			width: 15px;
			border-radius: 25%;
			margin: 0;
		}
	}
}

.carousel-nav, #section-main .button-link {
	margin-left: $p-section-content;

	@media(min-width: $w-screen-large) {
		margin-left: 0;
	}
}


#section-main .button-link {
	margin-bottom: 7rem;

	@media(min-width: $w-screen-large) {
		margin-bottom: 15px;
	}
}


/* section-we-do */


#section-we-do .button-link {
	margin: 30px auto 20px auto;
}

#section-we-do > .section-content > .u-clearfix {
	font-size: 0;	/* inline-block space fix */
	padding: 0;
}

.icon-holder {
	width: 33%;
    margin-top: .7rem;
    margin-bottom: .7rem;
    display: inline-block;
    vertical-align: top;

    @media(min-width: $w-screen-large) {
		width: 16%;
		margin-top: 0;
	}
}


.icon-holder > img {
	width: 100%;
	margin-bottom: 1rem;

	&.inside {
		display: none;
	}
	&.outside {
		display: block;
	}
}
.icon-holder:hover > img {
	&.inside {
		display: block;
	}
	&.outside {
		display: none;
	}
}

.icon-holder > .image-label {
	color: white;
	text-align: center;
}


/* section-calendar */


#section-calendar {
	padding-bottom: 3.5rem;
}

.calendar-column {
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin-top: 1rem;

	@media(min-width: $w-screen-large) {
		width: 33%;
		padding: 0 1rem;
	}
}


.calendar-content {
	padding: .5rem;
	margin-bottom: .5rem;
	display: flex;

	.u-cleafix {
		margin-top: .5rem;
	}

	p {
		padding: 0 .5rem;
		margin: 0;
	}
}

#section-calendar h2 {
	margin-bottom: 0;
}


#section-calendar h3 {
	margin-bottom: .5rem;
}

.date-1 {

	width: 4em;
	height: 5.5em;

	span {
		display: block;
		padding: .3em;

		&:first-child {
			font-size: 2em;
			border-bottom: 1px dotted white;
		}
		&:last-child {
			font-size: 1em;
		}
	}
}




.calendar-column:last-child h3 {
	color: transparent;
}

.calendar-content img {
	border-radius: 3px;
	box-shadow: 0 2px 12px gray;
}


.events-link i.fa,
.news-link i.fa {
	font-size: 1.2rem;
    margin-right: .5rem;
    vertical-align: bottom;
}


/* section-success */

$p-success-between-boxes: .2rem;
$p-success-inside-box: .5rem;

#section-success .button-link {
	margin: 0 auto;
}

.success-column {
	width: 100%;
	float: left;

	@media(min-width: $w-screen-large) {
		width: 37.5%;
	}
}
#success-column-3 {
	width: 25%;
}
#success-column-3 .success-icon {	
	width: 50%;
}

#success-column-2 {
	display: flex;
	flex-direction: column-reverse;

	@media(min-width: $w-screen-large) {
		flex-direction: column;
	}
}


/* Layout of the layers */
.success-box {	
	overflow: hidden;

	.layer-top {
		position: relative;
		z-index: 1;
		overflow: hidden;
	}
	.layer-bottom {
		box-sizing: border-box;
		position: absolute;
		top: $p-success-between-boxes;
		bottom: $p-success-between-boxes;
		left: $p-success-between-boxes;
		right: $p-success-between-boxes;
		z-index: 0;
		overflow: hidden;

	}
	.layer-top > div, .layer-bottom div {
		padding: $p-success-inside-box;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
}
.success-box:hover .layer-top {
	animation: raise 2s;
	animation-fill-mode: forwards;
}

/* Success box components */
.success-box {
	padding: $p-success-between-boxes;
	position: relative;

	img {
		width: 100%;
	}

	.layer-top q:before {
		content: url('../img/quote-grey.png');
		margin-right: .3rem;
	}
	.layer-bottom q:after { 
		content: url('../img/quote-blue-dark.png');
		display: block;
		text-align: right;
	}
	.layer-bottom q:before { 
		content: '';
	}

	hr {
		border-style: solid;
		border-color: #E2E2E2; /* gray */
		border-bottom: none;
	}
}



.success-icon {
	float: left;
	width: 33.3%;
	box-sizing: border-box;
}



.success-top {
	height: 7rem;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;

	@media(min-width: $w-screen-large) {
		height: 5rem;
	}

	img {
		width: 40%;
		box-sizing: border-box;
		padding-right: .5rem;
	}

	q {
		width: 60%;
		float: right;

		&:after {
			content: "...";
			position: absolute;
			bottom: -.2rem;
			right: .2rem;
			/* background: white; */
		}
	}
}

#success-column-3 .success-top q {
	width: 100%;
}


.success-bottom img {
	width: 20%;
	float: right;
}
#success-column-3 .success-bottom img {
	width: 30%;
}

.quote-source {
	width: 80%;
	float: left;
}
#success-column-3 .quote-source {
	width: 70%;
}

.success-bottom p {
	margin: 0;
}

#section-success .button-link {
	margin-top: 1.5rem;

	@media(min-width: $w-screen-large) {
		margin-bottom: 1.5rem;
	}
}

/* footer */

$h-footer-row-mobile: 3rem;
$w-arrow-up-mobile: 20%;
$pos-left-arrow-up: 70%;

footer {
	padding-top: 0;
}


#footer-links {
	width: 70%;
	float: left;
}

.links-column {
	width: 33%;
	box-sizing: border-box;
	padding: 0 1rem;
	float: left;
}

.links-column h3, #blog h3 {
	margin-top: 1rem;
}

.links-column li {
	list-style: none;
	margin-top: .3rem;
}

.links-column ul {
	padding: 0;
}


#blog {
	width: 30%;
	float: left;
	background-color: rgba(256, 256, 256, 0.15);
	height: 100%;
	padding: .2rem;
	box-sizing: border-box;
}


#footer-links {
	position: relative;
	
	small {
		position: absolute;
		bottom: 1rem;
	}

	& > div {
		margin-bottom: 3rem;
	}
}


#blog hr,
#blog form {
	margin: 0.7rem;
}

#blog form {
	margin-bottom: 2rem;
}

#blog form input,
#blog form button {
	float: left;
	margin: 0;
	border: none;
}

#blog form input{
	width: 70%;
	padding: 0;
	line-height: 1.5rem;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#blog form button {
	width: 30%;
	box-sizing: border-box;
	height: 1.5rem;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}

.date-2 {
	float: left;
	padding: 0.3em;
	
	span {
		text-align: center;
		display: block;

		&:first-child {
			font-size: 3em;
			margin: -0.2em 0.2em;
			font-weight: bold;
		}
	}
}


.footer-row {
	line-height: $h-footer-row-mobile;
	padding-left: $p-section-content / 2;
	border-bottom: 1px solid black;

	/* Not for the first one */
	& + & {
		border-top: 1px solid lighten(black, 20%);
	}

}
/* Only first one */
a + .footer-row {
		box-shadow: 0 -2px 2px lighten(black, 15%);
}

.icon-group {
	display: inline-block;
	margin: 0 .7rem;

	@media(min-width: $w-screen-large) {
		display: block;
		margin: .7rem;
	}

	img {
		margin: 0 .3rem;
		vertical-align: middle;
	}
}

footer div.screen-small small {
	padding: $p-section-content / 2;
	display: block;
}

footer div.screen-small small > a {
	padding-left: .6rem;
	padding-right: .3rem;
	margin-left: .5em;
	border-left: 1px solid black;
}

.footer-row .wrapper-select {
	margin-left: 1rem;
	display: inline-block;	
}

.wrapper-select {
	line-height: 2em;
}
.wrapper-select > select {
	background: transparent;
	width: 6rem;
	font-size: 1rem;
	border: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}


.arrow-up-mobile {
	display: block;
	width: $w-arrow-up-mobile;
	height: $h-footer-row-mobile * .85;
	position: relative;
	left: $pos-left-arrow-up;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	background: url('../img/back_top.png');
	background-size: 100% 100%;
}













/*******************/
/****** Fonts ******/
/*******************/


$s-font-h2-largescreen: 2rem;
$s-font-h2-smallscreen: 1.5rem;

html {
	font-size: 100%;
}


body {
	font-family: 'Open Sans', sans-serif;
}

h2, h3 {
	font-weight: normal;
}

h2 {
	font-size: $s-font-h2-smallscreen;

	@media(min-width: $w-screen-large) {
		font-size: $s-font-h2-largescreen;
	}
}

.u-bold {
	font-weight: bold;
}

.button-link {
	font-size: 0.9rem;
}


nav, 
#section-main .button-link,
#section-we-do > .section-content > h2,
#section-calendar > .section-content > h2,
#section-success > .section-content > h2,
#section-calendar h3,
.links-column h3,
#blog h3,
#blog form button,
.success-bottom p:first-child,
.footer-row {
	text-transform: uppercase;
}


nav a {

	text-align: left;

	&:last-child li {
		text-align: center;
		font-weight: bold;
		color: red;	
	}

	@media(min-width) {
		text-align: center;
		
		&:last-child li {
			text-align: center;
			font-weight: normal;
			color: $c-font-gray;	
		}

	}
}

#search-mobile a {
	color: $c-font-gray;
}

.text-box {
	font-size: $s-font-h2-smallscreen;

	@media(min-width: $w-screen-large) {
		font-size: 1.2rem;
	}
}

.topic-rect > a {
	@media(min-width: $w-screen-large) {
		font-size: 0.75rem;
	}	
}

.carousel-nav > label {
	font-size: 1.5rem;
	text-align: center;
	line-height: $w-button-carousel;
}




#section-we-do > .section-content > h2,
#section-calendar > .section-content > h2,
#section-success > .section-content > h2 {
	text-align: center;
}

#section-we-do .icon-holder {
	font-size: 1rem;
}


#section-calendar h3 {
	font-size: 1.5rem;
}

#section-calendar .calendar-content > p {
	font-size: 1rem;
	text-shadow: 0 0 0px black;
	color: black;

	@media(min-width: $w-screen-large) {
		font-size: .8rem;
	}
}


.calendar-column a {
	font-size: 0.8rem;
}

.date-1 {
	text-align: center;
}

.success-bottom {
	font-size: 0.75rem;
}

nav li {
	font-size: 0.6rem;
}

#do-box,
#do-box select,
#do-box optgroup {
	font-size: .7rem;
}

.links-column li {
	font-size: 0.7rem;
}

.links-column h3 {
	font-size: 0.9rem;
}


#blog h3 {
	font-size: 0.95rem;
	font-weight: bold;
	text-align: center;
}

.blog-post {
	font-size: 0.8rem;
}

#blog form button {
	font-size: 0.6rem;
}

.footer-row {
	color: white;
}

footer div.screen-small small,
footer div.screen-small small > a, {
	color: black;
	font-size: .6rem;
}









/*******************/
/***** Special *****/
/*******************/


body {
	scroll-behavior: smooth;
}


button,	
.carousel-nav > label,
.arrow-up-mobile,
.footer-row > a {
	cursor: pointer;
}

.button-link,
nav a,
#search-mobile a,
.topic-rect > a, 
#footer-links small a,
.calendar-column a,
footer .screen-small small a {
	text-decoration: none;
}




